<div class="container">
  <h3 style="text-align: center;">Services</h3>
  <form>
    <h3 style="text-align: center">CRUD OPERATION </h3>
    <div class="form-group">
      <label class="control-label col-lg-10" for="name">Name</label><br>
      <input type="text" name="name" class="form-control" id="name" placeholder="enter the name" [(ngModel)]="userName">
    </div><br>
    <div class="form-group">
      <label class="control-label col-lg-10" for="age">Age</label><br>
      <input type="number" class="form-control" name="age" id="age" placeholder="enter your age"
        [(ngModel)]="userAge">
    </div><br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-lg-10">
        <button type="submit" class="btn btn-primary" (click)="createData()">Create</button>
        <button type="submit" class="btn btn-primary" (click)="updateData()">Update</button>
      </div>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width=400>ID</th>
        <th width=400>Name</th>
        <th width=200>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employees of employees;index as i">
        <td>{{employees.id}}</td>
        <td>{{employees.name}}</td>
        <td>{{employees.age}}</td>
        <td>
          <a class="btn btn-success" (click)="editData(i)">Edit</a>
          <a class="btn btn-danger" (click)="deleteData(i)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>