<div class="container">
    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
        <h3 style="text-align: center">SignUp</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="name" id="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name?.errors}">
            <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                <p> Name is required</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="email">Email</label><br>
                    <input type="email" formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email?.errors }">
                    <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                        <p>Email is required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="mobile">Mobile_No</label><br>
                    <input type="number" class="form-control" formControlName="mobile_No"
                        [ngClass]="{ 'is-invalid': submitted && f.mobile_No?.errors }">
                    <div *ngIf="submitted && f.mobile_No?.errors" class="invalid-feedback">
                        <p> Number is required</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="password">Password</label><br>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password?.errors}" />
                    <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                        <p>Password is required</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="password">Confirm</label><br>
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword?.errors }" />
                    <div *ngIf="submitted && f.confirmPassword?.errors" class="invalid-feedback">
                        <p>Confirm Password is required</p>
                    </div>
                </div>
            </div>
        </div>

        <label for="gender">Gender :</label><br>
        <label for="male   ">
            <input type="radio" name="gender" formControlName="gender" value="male" (click)="setGender('male')">
            Male</label><br>
        <label for="female ">
            <input type="radio" name="gender" value="female" formControlName="gender" value="female"
                (click)="setGender('female')">Female </label><br>

        <div class="form-group">
            <label>Age</label>
            <input type="number" formControlName="age" id="age" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.age?.errors}">
            <div *ngIf="submitted && f.age?.errors" class="invalid-feedback">
                <p> Age is required </p>
            </div>
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <select formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.city?.errors }">
                <option></option>
                <option>Hyderabad</option>
                <option>Banglore</option>
                <option>Gujarat</option>
                <option>Delhi</option>
            </select>
            <div *ngIf="submitted && f.city?.errors" class="invalid-feedback">
                <p>Required</p>
            </div>
        </div>
        <br>

        <div class="form-group">
            <input type="checkbox" formControlName="acceptTerms" class="form-check-input"
                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms?.errors }">
            <label for="acceptTerms">Accept Terms & Conditions</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary mr-1">Submit</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>