<div class="container">
    <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()">
        <h3 style="text-align: center">LogIn</h3>
        <div class="form-group">
            <label for="name">Name:</label><br>
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="Name">
        </div><br>
        <div class="form-group">
            <div class="col">
            <label for="email">Email:</label><br>
            <input type="email" class="form-control" id="email" placeholder="email" formControlName="Email"></div>
        </div><br>
        <div class="col">
            <div class="form-group"><br>
                <label for="mobile">Mobile_No:</label>
                <input type="number" id=mobile class="form-control" formControlName="Mobile_No">
                </div></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="password" class="form-control"  formControlName="Password">
        </div></div>
        <div class="col-lg-6">
            <div class="form-group">
           <label for="Confirm">Confirm</label>
            <input type="password" id="password" placeholder="confirmpassword" class="form-control" formControlName="confirmPassword">
    </div></div>
        </div>
        <br>
        <div class="form-group">
            <label for="city">City:</label><br>
            <select id="city" class="form-control" formControlName="city">
                <option>Hyderabad</option> 
                <option>Delhi</option>
                <option>Banglore</option>
            </select>    
        </div><br>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button></div>
    </form>
    </div>
    
    